
*.class
logs/
caches/
#package file
*.jar
*.war
*.ear

#kdiff3  ignore
target/
.settings/
.project
.classpath

.apt_generated
.factorypath
.springBeans
.sts4-cache

#idea
.idea
.idea/
/libraries/
/shelf/
/idea/
*.ipr
*.iml
*.iws

# temp   file

*.log
*.cache
*.diff
*.patch
*.tmp

#   system   ignore
.DS_Store
Thumbs.db

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/