.top{
    height:60px;
    margin-left: 1%;
    width: 98%;
}
.background{
    width: 98%;
    margin-left: 3%;
}

.search{
    width:400px;
    height:50px;
    display: inline-block;
    margin-bottom: 15px
}
p{
    display: inline-block;
    font-size: 13px;

}
.search-input{
    line-height:1.42857143 ;
    color: #555;
    border: 1px solid #ccc;
}

.add{
    padding: 0;
    display: inline-block;
    float: right;
}
.table tr th{

    border: 1px solid;
    text-align: center;
}
