.top{
    height:60px;
    margin-left: 1%;
    width: 98%;
}
.background{
    margin-left:1%;
    width:98%;
}

.navigation{
    height: 60px;
    width: 96%;
    margin-left: 1%;
    margin-top: 10px;

}
#studentChangeDescribe{
    resize: none;
}
.update{
    width: 100px;
    height: 25px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.cb{
    clear: both;
}
.layui-form-label {
    padding: 9px 10px;
}
.layui-input-inline .text-left{
    text-align: left;
}
.layadmin-homepage-list-group .h4{
    font-weight: bold;
}